<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AffDiapo</title>
    <link rel="stylesheet" href="/general.css">
	<link rel="stylesheet" href="/recherche.css">
    <link rel="stylesheet" href="/diapo_aff.css">
</head>

    <body >
        <h1>Diaporama d'images</h1>
        <div class="slideshow-container">
            <% for (var i = 0; i < imgTab.length; i++) { %>
                <div class="mySlides">
                    <img name="diapo" src="<%= imgTab[i] %>" alt="Image <%= i+1 %>"> -->
                    <!-- <img src="/Osaka/P1030621.JPG" alt="Osaka<%= i+1 %>"> -->
                </div>
            <% } %>
            <!-- caractère <> -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>
        <!-- Pour les points -->
        <div class="dot-container" style="text-align:center">
            <% for (var i = 0; i < imgTab.length; i++) { %>
                <span class="dot" onclick="currentSlide(<%= i+1 %>)"></span>
            <% } %>
        </div>
        <script>
            var slideIndex = 1;
            showSlides(slideIndex);
    
            function plusSlides(n) {
                showSlides(slideIndex += n);
            }
    
            function currentSlide(n) {
                showSlides(slideIndex = n);
            }
           
            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides");
                var dots = document.getElementsByClassName("dot");
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                            for (i = 0; i < dots.length; i++) {
                    dots[i].classList.remove("active");
                }
                slides[slideIndex-1].style.display = "block";
                dots[slideIndex-1].classList.add("active");
            }
        }
               
        </script>
    </body>
</html>